.register_page {
    margin: 10px auto;
    padding: 2px;
    width: 35%;
    
}
.registration_header{
        text-align: center;
        font-family:fantasy;
        color:#4C42CB;
        margin: 5%;
}


